.card{
   height: 6rem;
   border-left:2px solid #265cff;
}

.name_candidatebox{
    width: 18vw;
}

.cardlist{
    overflow-y: hidden;
    overflow-x: scroll;
    scrollbar-width: none;
}
.cardlist::-webkit-scrollbar{
    display: none;
}


@media only screen and (max-width: 480px) {
    .card{
        height: 5.3rem;
    }  
}