@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body{
    background: rgb(255, 255, 255);
    font-family:'Poppins', sans-serif;
    overflow-x: hidden;
}
.h7{
    height: 38%;
}
.fc{
    font-size: 0.5rem ;
}
.w7{
    width: 23%;
}
.f10{
    font-size: 0.38rem;
}
.f9{
    font-size: 0.4rem;
}
.f8{
    font-size: 0.6rem;
}

.flex-1{
    flex:1;
}
.w-screen{
    width: 100wh;
}
.flex-2{
    flex:2;
}
.flex-3{
    flex:3;
}
.flex-4{
    flex:4;
    columns: rgb(207, 207, 207);
}

@media only screen and (max-width: 860px) {
    .f8-m{
        font-size: 0.6rem;
    }
    .f9-m{
        font-size: 0.5rem;
    }
}

@media only screen and (max-width: 480px) {
.f10-mo{
    font-size: 0.38rem;
}
}