.creds{
    .MuiInputBase-input{
        margin-bottom: 2% !important;
    }
}

// .toggle-btn div{
//     div:nth-child(1){
//         div:nth-child(3){
//             div{
//                 background-color: red !important;
//             }
//         }
//     }
// }

@media only screen and (max-width: 480px) {
    .creds{
        label{
            font-size: 0.8rem !important;
            margin-bottom: 5% !important;
        }
    }
}