.signup{
    flex:1;
}

.error{
    border: 1px solid red !important;
}
.companysigninleft{
    flex:1;
    align-self: center;
}
.signupform{
    flex: 1;
    align-self: center;
    input{
        height: 2.2rem;
        border:1px solid rgb(236, 236, 236);
        border-radius: 3px;
        font-size: 0.8rem;
        padding-left: 5px;
    }
    input:focus{
        border-color: #265cff;
    }

    input::placeholder{
        font-size: 0.8rem;
    }
    button{
        height: 2.4rem;
    }
}
.signleftp1{
    color: rgb(84,84,84);
}
.signleftp2{
    color: rgb(115,115,115);
}
.input-feedback{
    font-size: 0.66rem;
    color: red;
    margin: 0 auto;
    padding: 0;
    max-width: 70%;
    margin-top: 2px;
}



@media only screen and (max-width: 960px) {
    .input-feedback{
        margin-top: 0;
    }
    hr{
        display: none;
    }
    .signupform{
        flex: auto;
        input{
            height: 2rem;
            font-size: 0.7rem;
        }
        input::placeholder{
            font-size: 0.64rem;
        }
        button{
            height: 2rem;
        }
    }
}

// @media only screen and (max-width: 480px) {

// }