
@media only screen and (max-width: 560px) {
.ac-btn{
    width: 70%;
    margin-left: auto;
    .MuiButton-root{
        padding: 0px !important;
        font-size: 0.6rem!important;
    }
}
.hcp{
    height: 0.4rem;
}
.ch-2-mo{
    height: 130px !important;
}
}